<div style="text-align: center; margin-top: 20px; margin-bottom: 50px;">
    <h2>Simulateur d'écriture arc-en-ciel</h2>
    <input 
      type="text" 
      placeholder="Écrivez quelque chose..." 
      appRainbow 
      style="border: 2px solid; padding: 10px; font-size: 16px; outline: none; width: 300px;"
    />
    <input 
    type="number"
     placeholder="Ceci n'est pas un texte" 
     appRainbow
     style="border: 2px solid; padding: 10px; font-size: 16px; outline: none; width: 200px; margin-top: 20px; margin-left: 10px;">


  </div>




  